<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/category.xml"/>
        <mapper resource="mapper/categoryType.xml"/>
        <mapper resource="mapper/product.xml"/>
        <mapper resource="mapper/order.xml"/>
        <mapper resource="mapper/orderDetails.xml"/>
        <mapper resource="mapper/supplier.xml"/>
        <mapper resource="mapper/item.xml"/>
        <mapper resource="mapper/contact.xml"/>
        <mapper resource="mapper/user.xml"/>
        <mapper resource="mapper/client.xml"/>
        <mapper resource="mapper/sale.xml"/>
        <mapper resource="mapper/saleDetails.xml"/>
        <mapper resource="mapper/query/saleQuery.xml"/>
        <mapper resource="mapper/query/orderDetailsQuery.xml"/>
    </mappers>
</configuration>